<div class="mb-5">
    <mat-toolbar color="accent" >
        <mat-toolbar-row >
            <img src="../../../assets/pharmaLogo.png" alt="Pharmacy Logo" width="60px" style="padding: 10px 10px">
          <span>Pharma Inc.</span>
          <span class="example-spacer"></span>
          <!-- <button mat-stroked-button class="example-icon small" 
          style="border-radius:10px; background-color:#ffd741"
          aria-label="Example icon-button with menu icon">
            <img src="../../../assets/userLogo.jpg" alt="User Photo" width="50px">
        </button> -->
        </mat-toolbar-row>
    </mat-toolbar>
</div>
