table {
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  margin: auto;
}
th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.example-full-width {
  width: 20%;
  padding-left: 5%;
}

.example-header-image {

  background-size: cover;
  margin-bottom: 0px;
  border-radius:25px; 
  align-items: center;
  margin-top: 7px;
}