
      <h4 class="" style="text-align: center; padding-top: 20px;"> Patient data of Pharma Inc.</h4>
     
      <div style="text-align: start;">
      <mat-form-field appearance="outline" class="example-full-width" > 
        <mat-label >Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)"
        placeholder="Filter by name" #input>
      </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource" 
            matSort matSortActivate="created" matSortDisableClear matSortDirection="desc">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.name.title}} {{element.name.first}} {{element.name.last}} </td>
          </ng-container>
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element "> {{element.gender}} </td>
          </ng-container>
        
          <ng-container matColumnDef="birth">
            <th mat-header-cell *matHeaderCellDef> Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.dob.date | date }} </td>
          </ng-container> 
          
          <ng-container matColumnDef="nat">
            <th mat-header-cell *matHeaderCellDef> Nationality </th>
            <td mat-cell *matCellDef="let element"> {{element.nat }} </td>
          </ng-container>   

          <ng-container matColumnDef="actions" >
              <th mat-header-cell *matHeaderCellDef > Details </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button 
                style="border-radius:10px; border: none; text-decoration: none" 
                (click)="redirectToDetails('Open', element)"> 
                    <mat-icon class="mat-18" color="dark">reorder</mat-icon>
                </button>
              </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

          <mat-paginator style="padding-right: 4%;"  
          [pageSize]="50" [pageSizeOptions]="[10, 25, 50]"
          showFirstLastButtons>
        </mat-paginator>

        <app-footer></app-footer>





  
  
  
  
  