  <h1 mat-dialog-title>Patient details</h1>

    <div class="header-modal" style="text-align: center;">
      <img class="example-header-image"
      src="{{patient.picture.large}}" alt="patient logo" style="justify-content: center; width: 200px;">
    </div>  

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fullname</mat-label>
      <input matInput placeholder="" 
      value="{{patient.name.first}} {{patient.name.last}}" readonly>
    </mat-form-field></td>

    <td style="padding-right: 0px;"><mat-form-field class="example-full-width" appearance="fill" style="width: 100%; align-items: center;">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" value="{{patient.email}}" readonly>
    </mat-form-field></td>
    </tr>
</table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Gender</mat-label>
      <input matInput placeholder="" value="{{patient.gender}}" readonly>
    </mat-form-field></td>

    <td style="padding-right: 0px;"><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput placeholder="" value="{{patient.dob.date | date}}" readonly>
    </mat-form-field></td>
    </tr>
</table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="" value="{{patient.phone}}" readonly>
    </mat-form-field></td>
    <td style="padding-right: 0px;"><mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label>Nationality</mat-label>
      <input matInput placeholder="" value="{{patient.nat}}" readonly>
    </mat-form-field></td>
    </tr>
</table>

<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput placeholder="" 
      value="{{patient.id.value}}" readonly>
    </mat-form-field></td>

    <td style="padding-right: 0px;"><mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
      <mat-label>URL</mat-label>
      <input matInput placeholder="" value="https://randomuser.me/api/{{patient.id.value}}" readonly>
    </mat-form-field></td>
    </tr>
</table>

<table class="example-full-width" cellspacing="0" style="width: 100%;"><tr>
  <mat-form-field style="padding-right: 0px" class="example-full-width" cellspacing="0" appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput placeholder="" 
    value="{{patient.location.street.name}} {{patient.location.city}} {{patient.location.state}} {{patient.location.postcode}}" readonly>
  </mat-form-field>
  </tr>
</table>

  <div mat-dialog-actions   style="justify-content: end; padding-right: 1%;">
      <button mat-raised-button color="accent" (click)="closeDialog()">Back</button>
  </div>
